{% extends "layout.html" %}
{% block title %}Welcome{% endblock%}
{% block body %}
<section>
    <p>
        Welcome to the learning management system for the Associate Degree Software Development programme at Saxion University of Applied Sciences.
    </p>

    <p>
        The programme uses a non-traditional learning model, that allows each student to work at her/his own pace. Students work through a large collection of increasingly challenging assignments. This site contains these assignments, as well as tools for tracking progress, grading, among other things. Most parts of this site require an account, but the <a href="/curriculum">curriculum overview</a> is publicly available.
    </p>

    <p>
        This software as well as the full curriculum, with the obvious exception of exams and assignment solutions, is <a href="https://gitlab.com/saxion.nl/42/lms42">available as Open Source</a>.
    </p>
</section>
{% endblock %}