{% extends "layout.html" %}
{% block title %}Internship database{% endblock%}
{% block body %}

<p class="block">
    This page lists recommended companies for doing your internship. It is currently just a static page, which servers as a placeholder for a database-backed system that allows students to plan their internships at the listed companies, so that other students can easily see which positions are already taken during what periods, and which fellow students to ask for information about a specific company.
</p>


<section class="box content">
    <h3>Innovadis</h3>
    <ol>
        <li>Zeker 2, waarschijnlijk 3 studenten</li>
        <li>Innovadis ontwerpt, bouwt en host (internet)applicaties voor B2B-ecommerce en schuldhulpverlening</li>
        <li>Veel vrijheid, informeel, nieuwste technieken, gave projecten.</li>
        <li>.Net, C#, Azure, React, Vue, Angular</li>
        <li>Exact weet ik het niet, maar volgens mij gaat het om ongeveer 500 euro per maand. Als dat niet in lijn is met verwachtingen hoor ik het graag.</li>
        <li>Mag via mij. J.vankreij@innovadis.com / 0652344471</li>
        <li>We werken deels thuis, deels op kantoor en de verhouding wisselt per team. Als een student een voorkeur heeft kunnen we daar in de keuze van het team rekening mee houden.</li>
    </ol>
</section>

<section class="box content">
    <h3>Almexx</h3>
    <ol>
        <li>1 stagiair tegelijk</li>
        <li>Fantastische plaformen neerzetten waardoor mensen die een huis / schoonmaaksters / taxatie / hypotheek zoeken dat op een zo goed mogelijke manier krijgen</li>
        <li>Eerste sponsor SV Tuks ooit / Mooiste kantoor van Enschede / Uitdagend werk</li>
        <li>PHP / ZEND framework / MySQL / Javascript / Jquery</li>
        <li>Hangt van de situatie af, minimaal 250 per maand, afhankelijk van de stagair en ervaring kan dat meer worden</li>
        <li>Contactpersoon arnoud@almexx.nl</li>
    </ol>
</section>
 

<section class="box content">
    <h3>Patchman</h3>
    <ol>
        <li>Ik kan op dit moment 1 plek aanbieden, in ons Python/Django-team. </li>
        <li>Wij bouwen beveiligingssoftware voor de grote massa websites die wordt opgezet door mensen die geen tijd of expertise hebben voor geavanceerd onderhoud, zodat we het makkelijker maken voor hen om een website (veilig te onderhouden.</li>
        <li>We hebben een sociaal en klein team waardoor het gezellig en informeel blijft op de werkvloer, maar tegelijk werken we aan de beveiliging van miljoenen websites wereldwijd. We zijn trots op onze gestructureerde (maar niet bureaucratische) manier van werken waar gezonde discussies en samenwerking centraal staan. Als onderdeel van een grote multinational (Sectigo, voorheen Comodo CA) hebben we de mogelijkheden om nieuwe creatieve ideeën uit te werken, en zijn er veel meekijk-/groeimogelijkheden richting andere takken van sport binnen het bedrijf (zoals DevOps, malware/vulnerability research of penetration testing). </li>
        <li>In dit team primair Python, in het Django-framework voor webapplicaties. Traditionele frontend-technieken als HTML/CSS/JS, jQuery, Bootstrap etc komen daarbij ook langs.</li>
        <li>360 euro bruto op basis van 4 dagen per week</li>
        <li>Contact opnemen met <a href="jelmer.verkleij@patchman.co">Jelmer Verkleij</a></li>
        <li>Momenteel relevant: wij zijn weer fulltime terug naar kantoor, dus dat verwachten we ook van stagiairs (tenzij de omstandigheden natuurlijk drastisch veranderen). Engels is de voertaal op de werkvloer vanwege onze internationale teamsamenstelling.</li>
    </pre>
</section>

<section class="box content">
    <h3>Movelab</h3>
    <ol>
        <li>Wij zitten aan maximaal één persoon te denken. We zijn met een relatief klein team (9 mensen), dus je zal al snel te maken krijgen met iedereen in het team.</li>
        <li>Wij, bij MoveLab Studio, zijn bezig met het ontwerpen en ontwikkelen van next-level fitness software voor de machines van 3 toonaangevende bedrijven WaterRower, NOHrD en RP3: van de thuismarkt tot aan de elite in de Olympische roeiwereld.</li>
        <li>Wij bieden onze developers de mogelijkheid om de volledige lifecycle van een feature uit te voeren: van het bedenken en detailleren van ideeën tot aan de uitvoer ervan. Zo krijg je de mogelijkheid om echte impact te hebben op het eindproduct en je eigen features te realiseren.
        Onze Android apps worden geschreven in Kotlin en de iOS apps in Swift; de backends gebruiken PHP en TypeScript.
        Om ervoor te zorgen dat de kwaliteit van onze software hoog is en blijft, zijn de architecturen van de codebases gefocust op modulariteit en testbaarheid. Test Driven Development, Continuous Integration en Continuous Delivery zijn dus zaken die bij ons dagelijks voorkomen.</li>
        <li>Wij bieden een stagevergoeding van €350 per maand voor een stage op basis van 4 dagen per week.</li>
        <li>Stuur Niek een mailtje via niek@movelab.studio!</li>
        <li>We hebben ons bedrijf nog maar net afgesplitst van Label305, dus onze website is nog wat kaal. Als je interesse hebt of vragen, mail ons vooral. We staan altijd open voor een bakje koffie 👍</li>
    </ol>
</section>


<section class="box content">
    <h3>DIJ digital</h3>
    <ol>
        <li>Wij hebben 1 a 2 stageplaatsen beschikbaar per januari 2022 (de tweede moet ik nog even overleggen met de teams) </li>
        <li>Bij DIJ bouwen we complexe, robuuste applicaties voor serieuze klanten. Samen met jouw team werk je Agile Scrum in langlopende projecten aan grote applicaties die veel impact hebben op de groei van onze klanten. Het opbouwen van de klantrelatie staat bij DIJ centraal.</li>
        <li>Wij zijn een pragmatische en nuchtere digital development agency. Wij kijken altijd naar de beste oplossing voor het probleem. Dit betekent dat we ook naar de beste technieken kijken voor deze oplossing, we blijven dus niet hangen in oude technieken en gewoontes. We bouwen lange klantrelaties op, waardoor je echt de diepte in kan. Daarnaast hebben we een vrije en ontspannen werksfeer, flexibele werktijden, veel ruimte voor persoonlijke ontwikkeling en regelmatig leuke feestjes. </li>
        <li><ul>
            <li>PHP / Laravel / Eloquent / Doctrine / DDD</li>
            <li>PHP Unit / TDD / Behat</li>
            <li>React / Typescript</li>
            <li>(My)SQL / Postgres / Redis / ElasticSearch / Docker / Nginx</li>
            <li>GIT flow / CI /CD / JIRA</li>
            <li>AWS</li>
        </ul></li>
        <li>€400,-</li>
        <li>Joelle van Strien: joelle.vanstrien@dij.digital / 06-15304686</li>
        <li>We zijn hard aan het groeien en onze teams aan het uitbreiden, mocht je het naar je zin hebben dan kijken we altijd naar de mogelijkheden om te blijven na je stage periode</li>
    </ol>
</section>


<section class="box content">
    <h3>Wirelab</h3>
    <ol>
        <li>Wij hebben 1 a 2 stageplaatsen beschikbaar per januari 2022 (de tweede moet ik nog even overleggen met de teams)</li>
        <li>Wirelab is een digital first agency, we bouwen next level brands.</li>
        <li>De informele werksfeer, vrijheid en flexibiliteit in combinatie met de gave producten/merken waar we aan mogen werken zorgen ervoor dat Wirelab een ontzettend fijn bedrijf is om voor te werken.</li>
        <li>HTML, (S)CSS, PHP en JavaScript/TypeScript.</li>
        <li>€ 250,- á € 300,- bruto per maand o.b.v. van een fulltime stage.</li>
        <li>Op dit moment via niek@wirelab.nl of solliciteren via : https://wirelab.homerun.co</li>
        <li>We werken intern met een buddysysteem waarbij elke intern een vaste begeleider krijgt. Gedurende de stage investeren we veel (tijd en energie) in (persoonlijke) ontwikkeling. We proberen onze selectieprocedure dusdanig af te stemmen op de profielen die we daadwerkelijk zoeken. In veel gevallen kunnen we naderhand onze stagiaires een (bij)baan aanbieden.</li>
    </ol>
</section>

<section class="box content">
    <h3>MoneyBird</h3>
    <ol>
        <li>Hoeveel simultane stageplaatsen zouden jullie aan kunnen en willen bieden? Wij gaan uit van maximaal één stagiair per team, zodat de stagiair het goede voorbeeld krijgt van de pro's en de begeleiding niet te zwaar weegt op het team. Als het antwoord op deze vraag 0 is kan je de overige vragen natuurlijk overslaan. 🙂 1 (ivm aftasten of een samenwerking voor beide partijen passend is)
        <li>Wat doet MoneyBird in één zin? Moneybird is een online boekhoudpakket voor zzp-ers en klein MKB, waarbij wij de ondernemer helpen om op een slimme en efficiënte manier z'n boekhouding bij te houden.</li>
        <li>Wat maakt MoneyBird een mooi bedrijf om voor te werken? De vrijheid en verantwoordelijkheid om mee te denken in alles en de slimme collega's die je helpen bij je ontwikkeling (geen managers of teamleads).</li>
        <li>Met welke technieken kan de student te maken krijgen? We werken naast onze Ruby on Rails stack ook met technieken als Turbo, iOS/Android, Flutter, AWS, Kubernetes, Docker, Terraform, Sidekiq, CI/CD met Buildkite, Rest API service architectuur, RSpec, PostgreSQL, ElasticSearch en Redis</li>
        <li>Welke stagevergoeding kan de student verwachten (op basis van 4 dagen/week)? €400,- per maand (500 euro per maand op fulltime basis)</li>
        <li>Met wie en via welk kanaal kan een student contact opnemen om een gesprek te plannen? Bij voorkeur via onze stagevacature, als die niet online staat via office@moneybird.com.</li>
    </ol>
</section>


<section class="box content">
    <h3>Akyla</h3>
    <ol>
        <ul>We kunnen we beginnen met twee plaatsen. Eentje kan dan in ons product ontwikkelteam meelopen en eentje in het maatwerk team. Dat zijn ook direct twee teams met een heel andere dynamiek. We moeten denk ik wel goed kijken hoe dat gaat want onze ervaring is dat de learning curve zeker als het aankomt op ons product erg stijl is. Maar goed we komen er vanzelf achter hoe dat gaat.</ul>
        <ul>kyla ontwikkelt een softwareplatform waar uitzenders, payrollers en detacheerders hun processen mee kunnen optimaliseren.</ul>
        <ul>
        Akyla is een hecht team dat dagelijks met plezier werkt aan vooruitstrevende oplossingen. Omdat het ook belangrijk is om te genieten van, tijdens en na je werk, organiseren we regelmatig borrels, gameavonden en bedrijfsuitjes. Dagelijks lunchen we met elkaar in de keuken op kantoor en kunnen we een potje gamen, tafeltennis of tafelvoetbal spelen. We hebben een gezellige informele sfeer en collega’s zijn altijd bereid om elkaar te helpen.<br>Onze software helpt professionals uit de payroll- en uitzendbranche om hun klanten en uitzendkrachten beter te bedienen. Het grote volume, maandelijks hebben we meer dan 200.000 gebruikers, en de ambitie om flink verder te groeien leveren interessante uitdagingen op het gebied van software ontwikkeling op.</ul>
        <ul>PHP, PostgreSQL, SQL Server, .net, SOAP, REST, Oauth, Saml, Javascript, css, ...</ul>
        <ul>Hierin willen we een beetje mee met het gemiddelde dat anderen ook bieden. Standaard geven we 500 euro in de maand maar als we daarmee negatief eruit springen dan doen we daar iets aan. </ul>
        <ul>Het handigste kan dan even met Martin contact opgenomen worden.</ul>
    </ol>
</section>


<section class="box content">
    <h3>Speakup</h3>
    <ol>
        <li>Wij gaan zelf ook uit van maximaal één stagair gelijktijdig in het team.  Wel met een slag om de arm dat we per geval kijken wat er mogelijk is, we zijn namelijk een relatief klein team en niet ieder project leent zich voor een meeloopstage, het vinden van een match is belangrijk. Specifiek voor aankomende januari bij deze de uitnodiging om contact met ons op te nemen als je een match ziet. Ik (of een collega) kom graag een keer langs om een kijkje te nemen!</li>
        <li>Uit onze golden circle: "Speakup verbindt mensen met technologie zodat zij de vrijheid hebben om te kiezen waar, wanneer en hoe zij veilig communiceren met elkaar en de wereld om zich heen."</li>
        <li>Kenmerkend voor Speakup is de open en zeer platte organisatiestructuur waarbij vrijheid en techniek centraal staat en iedereen van stagair tot directeur op gelijkwaardige voet met elkaar kan samenwerken. Concreet uit zich dit in een grote vrijheid voor de stagair om een eigen weg te kiezen, eigen ideeën en kennis in te brengen en te leren van elkaar. Daarnaast een gezellige en laagdrempelige werkomgeving, zowel op kantoor als remote. Ook typerend voor Speakup is dat wij ontwikkelen aan onze eigen applicaties en diensten, die we deels weer via een partnerkanaal aan de man brengen. Dat geeft een interessant en leerzaam samenspel van stakeholders die het ontwikkelproces beïnvloeden. Tot slot doen wij vrijwel alles in eigen beheer,  dus ook aan de DevOps kant zitten leuke uitdagingen bij ons.</li>
        <li>Een greep uit de technische buzzwords: Java, Spring Boot, Akka, Vue.js, Node.js, Docker, RabbitMQ. Wat je daadwerkelijk tegen gaat komen bij een meeloopstage is afhankelijk van de projecten die lopen tijdens de stageperiode, daar vertel ik graag een keer meer over.</li>
        Dit antwoord moet ik je nog even schuldig blijven, ik heb de vraag doorgezet naar HRM.</li>
        <li>Het handigst is via hrm@speakup.nl, voor vragen of informatie over ons ontwikkelteam mogen mensen ook rechtstreeks contact zoeken met mij.</li>
    </ol>
</section>


<section class="box content">
    <h3>Doop</h3>
    <ol>
 
        <li>Maximaal drie stagiaires per stageperiode? 1 stagiair(e) per team.</li>
        <li>Doop biedt volledig horizontale dienstverlening op het gebied van communicatie en IT. Kortom: klanten helpen om succesvol te blijven in de digital connected world. </li>
        <li>Inspirerend team, veel kennis in huis, werken met verschillende disciplines, mix van creativiteit en technologie, vrijheid en flexibiliteit.</li>
        <li>Craft, Spring, Mobile development (Android - kotlin) - (iOS - swift), Google assistant, Java, PHP, HTML5, CSS3, react.js, typescript.</li>
        <li> Stagevergoeding €500,- per maand. </li>
        <li>Misschien vanzelfsprekend, maar graag aangeven dat deze persoon via jullie opleiding komt. Contactpersoon: Manon Kramer 
        <li>E-mailadres: jobs@wearedoop.com  </li>
    </ol>
</section>

<section class="box content">
    <h3>Nog geen reacties binnen</h3>
    Antagonist, BetterBe, Ecare, Logic4, CAPE, CODE14, Sigmax, Panalytical
</section>


{% endblock %}