{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/static/croppie.min.css">
{% if graph %}
<link rel="stylesheet" href="/static/chartist.min.css">
<script src="/static/chartist.min.js"></script>
<script src="/static/chartist-plugin-legend.js"></script>
{% endif %}
{% endblock %}

{% block title %}
<a href="/people">People</a>
<div>{{person.full_name}}</div>
{% endblock %}


{% block body %}


<div class="columns">

    {% if edit_form %}
    <article class="card">
        <h2>Personalia</h2>
        {% from "form-macro.html" import form_macro with context %}
        {{ form_macro(edit_form, action) }}
    </article>
    {% endif %}

    <article class="card">
        <h2>Mentees</h2>
        {% if mentees %}
            <ul>
            {% for mentee in mentees %}
                <li>{{mentee.name}}: <a href="/curriculum/{{mentee.node_id}}">{{mentee.node}}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <div>None.</div>
        {% endif %}
        {% if this_week_hours %}
        <h2>Hours</h2>
        <ul>
            <li>This week: {{this_week_hours[0]}} / {{this_week_hours[1]}}</li>
            <li>Last week: {{last_week_hours[0]}} / {{last_week_hours[1]}}</li>
        </ul>
        {% endif %}

        {% if current_user.id != person.id %}
        <h2>Actions</h2>
        <section>
            <div class="buttons wide">
                <a role="button" target="_blank" href="mailto:{{person.email}}">Email</a>
                <a role="button" target="_blank" href="https://teams.microsoft.com/l/chat/0/0?users={{person.email}}">Teams chat</a>

                {% if current_user.is_teacher and not person.is_inspector %}
                <a role="button" href="/curriculum{{person.url_query}}">Learning</a>
                {% endif %}

                {% if current_user.level >= 80 %}
                <form method="post" action="/user/impersonate/{{person.short_name}}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input role="button" class="is-important" type="submit" value="Impersonate">
                </form>
                {% endif %}
            </div>

            {% if current_user.is_teacher %}
            <form method="post" action="/user/report_absent/{{person.short_name}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <select name="reason" oninput="event.currentTarget.parentElement.submit()">
                    {% for k,v in absent_reasons.items() %}
                    <option {%if absent_reason == k %}selected {%endif%}value="{{k}}">{{v}}</option>
                    {% endfor %}
                </select>
            </form>
            {% endif %}
        </section>
        {% endif %}

    </article>

    {% if update_avatar %}
    <script src="/static/croppie.min.js"></script>
    <article class="card">
        <h2>Profile picture</h2>
        <div id="avatarPicker">
            <img id="avatarImage" src="{{person.avatar}}" class="avatar is-large">
            <input id="avatarInput" type="file" name="resume">
        </div>
        <div id="avatarFinalizer" style="display: none;">
            <div id="avatarEditor" style="width: 200px; height: 200px; margin-bottom: 40px;"></div>
            <div class="buttons wide">
                <button id="avatarCancelButton" class="secondary">Cancel</button>
                <button id="avatarUploadButton">Upload</button>
                <form id="avatarForm" action="/people/{{person.id}}/avatar" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input name="avatar" id="avatarHiddenInput" type="hidden">
                </form>
            </div>
        </div>
    </article>
    <script>
        let croppie = new Croppie(document.getElementById('avatarEditor'), {
            viewport: {
                width: 200,
                height: 200,
                type: 'circle'
            },
            enableExif: true
        });
        function showFinalizer(val) {
            document.getElementById("avatarFinalizer").style.display = val ? "block" : "none";
            document.getElementById("avatarPicker").style.display = val ? "none" : "block";
        }
        document.getElementById("avatarInput").addEventListener("change", function(changeEvent) {
            let files = changeEvent.target.files;
            if (files && files[0]) {
                var reader = new FileReader();
                reader.onload = function (loadEvent) {
                    showFinalizer(true);
                    let editor = document.getElementById("avatarEditor");
                    editor.classList.add("ready");
                    croppie.bind({url: loadEvent.target.result});
                };
                reader.readAsDataURL(files[0]);
            }
        });
        document.getElementById("avatarCancelButton").addEventListener('click', function() {
            showFinalizer(false);
        });
        document.getElementById("avatarUploadButton").addEventListener('click', function() {
            croppie.result({type: 'base64', format: 'jpeg', circle: false}).then(function(base64) {
                document.getElementById("avatarHiddenInput").value = base64;
                document.getElementById("avatarForm").submit();
            })
        });
    </script>
    {% else %}
    <img id="avatarImage" src="{{person.avatar}}" class="avatar is-large">
    {% endif %}

</div>

{% if graph %}
<section class="card mar3">
    <div class="ct-chart mar4"></div>
<script>
    let data = {{graph | json | safe}};
    new Chartist.Line('.ct-chart', data, {
        plugins: Object.keys(data.series).length>1 ? [
            Chartist.plugins.legend()
        ] : [],
        height: '300px',
    });
</script>
</section>
{% endif %}

{% endblock %}
