{% extends "layout.html" %}

{% block title %}
Plan your trial day
{% endblock %}

{% block body %}

<div class="notification rows2">
    <p>The trial day is there for you to experience what it's like to study Software Development at Saxion. The day takes place in our own cozy 'office' in Enschede, where the teachers and current students will also be working all day.</p>

    <p>During the day, you'll work on one of the assignments, just like you will as a student. Besides that, you'll have a chat with the teachers, and -most importantly- get a feel for the ambiance. By the end of the day, you should have a good understanding of what it would be like to be a Software Development student, and if that would suit you.</p>

    <p>Participating in a <em>Meet & Greet</em> session is highly recommended for all prospective students. An onsite trial day is the most valuable form of <em>Meet & Greet</em>. For students living abroad and for students that would prefer not to visit Saxion at this time due to Covid-related concerns, please <a href="mailto:f.c.vanviegen@saxion.nl">send us an email</a>. We'll schedule an online alternative.</p>
</div>

{% if student.trial_day_date %}
    <div class="notification is-important">
        Your trial day has been scheduled for {{student.trial_day_date}}.
        <form class="buttons" method="POST" onsubmit="return confirm('This will cancel your trial day appointment. You will be able to pick a new date afterwards. Continue?');">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="submit" name="cancel" value="Cancel or reschedule">
        </form>
    </div>
{% endif %}

{% if available %}
    <form method="POST" class="card">
        <h2 class="title is-4">Pick a date</h2>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        {% for date in available %}
            <label class="radio" style="display: block; margin: 0 0 0.5rem 0;">
                <input type="radio" name="date" value="{{date}}">
                {{date|date}}
            </label>
        {% endfor %}
        <input type="submit" class="button is-primary" value="Schedule">
    </form>
{% endif %}

{% endblock %}